{% extends "layout.html" %}    <!-- whatever layout includes will be here. navbar title etc -->

{% block body_content %}
<p>Log in mate </p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.email.label }}
                {{ form.email }}   <!-- email field -->
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.password.label }}
                {{ form.password }}      <!-- password field-->
                {% if form.password.errors %}
                    <div class='error'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>

            <div class='form_group'>
                {{ form.remember.label }} <!-- remember me box-->
                {{ form.remember }}
            </div>
            <div>    
                {{ form.submit }} <!-- submit button-->
            </div>
        </form>
    </div>

{% endblock body_content %}